extends layout.pug

block contenido
  .home
    //- p #{arrClients[1].nombre}
    //- p Número de clientes: 
    //-   span= arrClients.length
    //- ul
    //-   each client in arrClients
    //-     li 
    //-       p= client.nombre
    //-     li 
    //-       p #{client.nombre}
        //- dos maneras de ponerlo